@font-face {
    font-family: 'Digital-7';
    src: url('fonts/digital-7/digital-7.ttf') format('truetype');
}

@font-face {
    font-family: 'Digital-7-mono';
    src: url('fonts/digital-7/digital-7-mono.ttf') format('truetype');
}

@keyframes blink-animation {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.edit-mode {
    animation: blink-animation 1s steps(2) infinite; 
}

.light-background {
    background: #FBE106 !important; 
}

/**************************************************/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: purple;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
}

.time-display {
    background: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    position: relative;
}

.time-display sup {
    font-size: 12px;
    /* position: absolute; */
    top: 5px;
    right: -15px;
}

/* Buttons */
.button {
    position: absolute;
    background: gold;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

/* Button Positions */
.button.mode { 
    top: 15px;
    right: 15px;
    transform: rotate(45deg);
}

.button.increase { 
    bottom: 15px;
    right: 15px;
    transform: rotate(-45deg);
}

.button.light { 
    bottom: 15px;
    left: 15px; 
    transform: rotate(45deg);
}

/* Button Labels */
.label {
    position: absolute;
}

.label.mode {
    top: 0px;
    right: -25px;
}

.label.increase {
    bottom: 0px;
    right: -40px;
}

.label.light {
    bottom: 0px;
    left: -25px;
}
